@import url("https://fonts.googleapis.com/css?family=Bangers|Montserrat&display=swap");
html {
	height: 100vh;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fontsBangers {
	font-family: var(--h-ff);
}
.navContainer {
	background-color: rgba(0, 0, 255, 0.144);
	display: flex;
	justify-content: space-between;
}

.mainContainer {
	background-color: rgba(250, 125, 146, 0.322);
	display: flex;
	flex-direction: column;
	min-height: 80hv;
}
.mainsection {
	background-color: rgba(102, 51, 153, 0.205);
}
.mainOptions {
	background-color: rgba(250, 128, 114, 0.26);
	display: flex;
	justify-content: space-around;
}

.navList {
	background-color: rgba(0, 128, 0, 0.253);
	display: flex;
}
