@import url("https://fonts.googleapis.com/css?family=Bangers|Montserrat&display=swap");
html {
	height: 100vh;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
}
a {
}
header {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.fontsBangers {
	font-family: "Bangers", sans-serif;
}

/*.mainList {
	background-color: rgba(69, 109, 219, 0.562);
	margin: 2rem auto;
	height: auto;
	width: 30rem;
}*/
